body {
	font-family: Arial, sans-serif;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

table {
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

th,
td {
	padding: 10px;
	text-align: center;
	border: 1px solid #ccc;
}

thead {
	background-color: #f4f4f4;
}

thead th {
	font-weight: bold;
}

tfoot {
	background-color: #f4f4f4;
	font-weight: bold;
}

tfoot td {
	border-top: 2px solid #ccc;
}

th.table_1 td {
	border: 1px solid;
}

caption {
	font-style: normal;
	font-family: "Times New Roman", Times, serif;
}

table.tb_4 {
	border: 1px solid black;
}

th.tb_4 {
	border: 1px solid gray;
	padding: 1px;
	text-align: center;
}

td.tb_4 {
	border: 1px solid gray;
	padding: 1px;
	text-align: left;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
	background-color: black;
}

.nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.nav li {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0, 2);
	background-color: #f9f9f9;
	z-index: 1;
	padding: 12px 16px;
}

.dropdown-content a:hover,
.nav-img:hover {
	color: red;
	background-color: white !important;
}

.dropdown:hover .dropdown-content {
	display: block;
}
